# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Distribution / packaging
build/
dist/
*.egg-info/

# Environments
.env
.venv
env/
venv/

# Jupyter Notebook
.ipynb_checkpoints

# mypy
.mypy_cache/

# VScode config
.vscode

# PyTest
.pytest_cache

# .DS_Store
.DS_Store

# Experiments directory
experiments